[submodule "module/AutocompleteTerms"]
	path = module/AutocompleteTerms
	url = git@github.com:qcovery/AutocompleteTerms.git
[submodule "module/BelugaConfig"]
	path = module/BelugaConfig
	url = git@github.com:qcovery/BelugaConfig.git
[submodule "module/DAIAplus"]
	path = module/DAIAplus
	url = git@github.com:qcovery/DAIAplus.git
[submodule "module/Delivery"]
	path = module/Delivery
	url = git@github.com:qcovery/Delivery.git
[submodule "module/DependentWorks"]
	path = module/DependentWorks
	url = git@github.com:qcovery/DependentWorks.git
[submodule "module/DismaxMunge"]
	path = module/DismaxMunge
	url = git@github.com:qcovery/DismaxMunge.git
[submodule "module/ExtendedFacets"]
	path = module/ExtendedFacets
	url = git@github.com:qcovery/ExtendedFacets.git
[submodule "module/ExtendedFeedback"]
	path = module/ExtendedFeedback
	url = git@github.com:qcovery/ExtendedFeedback.git
[submodule "module/FacetPrefix"]
	path = module/FacetPrefix
	url = git@github.com:qcovery/FacetPrefix.git
[submodule "module/Findex"]
	path = module/Findex
	url = git@github.com:qcovery/Findex.git
[submodule "module/HeadTitle"]
	path = module/HeadTitle
	url = git@github.com:qcovery/HeadTitle.git
[submodule "module/HelpTooltips"]
	path = module/HelpTooltips
	url = git@github.com:qcovery/HelpTooltips.git
[submodule "module/Libraries"]
	path = module/Libraries
	url = git@github.com:qcovery/Libraries.git
[submodule "module/LimitBatch"]
	path = module/LimitBatch
	url = git@github.com:qcovery/LimitBatch.git
[submodule "module/PAIAplus"]
	path = module/PAIAplus
	url = git@github.com:qcovery/PAIAplus.git
[submodule "module/RecordDriver"]
	path = module/RecordDriver
	url = git@github.com:qcovery/RecordDriver.git
[submodule "module/ResultFeedback"]
	path = module/ResultFeedback
	url = git@github.com:qcovery/ResultFeedback.git
[submodule "module/RVK"]
	path = module/RVK
	url = git@github.com:qcovery/RVK.git
