[submodule "module/DismaxMunge"]
	path = module/DismaxMunge
	url = https://github.com/qcovery/DismaxMunge
	branch = vufind9
[submodule "module/ExtendedFeedback"]
	path = module/ExtendedFeedback
	url = git@github.com:qcovery/ExtendedFeedback.git
	branch = vufind9
[submodule "module/RecordDriver"]
	path = module/RecordDriver
	url = git@github.com:qcovery/RecordDriver.git
	branch = vufind9
[submodule "module/Findex"]
	path = module/Findex
	url = git@github.com:qcovery/Findex.git
[submodule "module/DependentWorks"]
	path = module/DependentWorks
	url = git@github.com:qcovery/DependentWorks.git
	branch = vufind9
[submodule "module/SearchKeys"]
	path = module/SearchKeys
	url = git@github.com:qcovery/SearchKeys.git
	branch = vufind9
[submodule "module/Libraries"]
	path = module/Libraries
	url = git@github.com:qcovery/Libraries.git
	branch = vufind9
[submodule "module/FacetPrefix"]
	path = module/FacetPrefix
	url = git@github.com:qcovery/FacetPrefix.git
	branch = vufind9
[submodule "module/ExtendedFacets"]
	path = module/ExtendedFacets
	url = git@github.com:qcovery/ExtendedFacets.git
	branch = vufind9
[submodule "module/DAIAplus"]
	path = module/DAIAplus
	url = git@github.com:qcovery/DAIAplus.git
	branch = vufind9
[submodule "module/LimitBatch"]
	path = module/LimitBatch
	url = git@github.com:qcovery/LimitBatch.git
	branch = vufind9
[submodule "module/PAIAplus"]
	path = module/PAIAplus
	url = git@github.com:qcovery/PAIAplus.git
	branch = vufind9
[submodule "module/Delivery"]
	path = module/Delivery
	url = git@github.com:qcovery/Delivery.git
	branch = vufind9
