[submodule "module/AutocompleteTerms"]
	path = module/AutocompleteTerms
	url = git@github.com:qcovery/AutocompleteTerms.git
[submodule "module/BelugaConfig"]
	path = module/BelugaConfig
	url = git@github.com:qcovery/BelugaConfig.git
[submodule "module/DAIAplus"]
	path = module/DAIAplus
	url = git@github.com:qcovery/DAIAplus.git
