.navbar-header .navbar-brand-wrapper {
    display:none;
}

ul.navbar-nav li:nth-child(2),
ul.navbar-nav li:nth-child(3) {
    display:none;
}

footer {
    display:none;
}

#beluga-home-content .belugx-ph-content {
    display:none;
}

#beluga-home-content, #belugx-follow-frame {
    background:#5597D4;
}

.searchtools a {
    display:none;
}

.belugax-end-of-results {
    background:none;
}

.not-found-contact {
    display:none;
}

.cart-controls {
}

#lms-hint {
    width: 75%;
    margin: 25px auto;
    background-color:#6D96D1;
    text-align:center;
    color:#ffffff;
    padding:20px;
    border-radius: 10px;
}

#lms-text {
    height: 20px;
    overflow: hidden;
}

#lms-toggle {
    color:#ffffff !important;
    display: inline-block;
    margin-top: 10px;
    text-decoration: underline;
}