.myresearch-result {
  display: table-row;
}

.message {
    border: 3px solid #00709B;
    padding: 10px;
    background-color: #fff6bf;
    margin-right: 20px;
}

#account-barcode {
    margin: 20px 0px 0px 20px;
}
