.daia-loading{
  font-weight: bold;
}

.daia-loading::before{
  content: url(../images/ajax-loader.gif);
}

.delimiter{
  border-top: 1px dashed #000000;
  color: #FFFFFF;
  background-color: #FFFFFF;
  height: 1px;
  margin-bottom: 2px;
  margin-top: 2px;
}

.doi {
  font-size: 0px;
}

.delimiter{
  border: none;
  border-top: 1px dashed #E00060;
  color: #FFFFFF;
  background-color: #FFFFFF;
  height: 1px;
  margin-bottom: 2px;
  margin-top: 2px;
}

.daia_action {
  font-weight: bold;
  display: block;
}

.daia_green,
.ApprovalRequired {
  color: #3DA22D;
  font-weight: bold;
}

.daia_orange,
.ShortLoan {
  color: #EB8E12;
  font-weight: bold;
}

.daia_red {
  color: #.FF0000;
  font-weight: bold;
}

.link_internal,
.link_external {
  font-weight: bold;
}

.FreeAccess::after {
  content: url("../images/checkmark_green.png") " " url("../images/OpenAccess_Logo.png");
  margin-left: 5px;
}

.Access:after,
.LicensedAccess:after,
.PubPharmProxy:after {
  content: url("../images/checkmark_green.png");
  margin-left: 5px;
}

.UncertainAccess:after {
  content: url("../images/checkmark_orange.png");
  margin-left: 5px;
}

.UnknownAccess:after {
  content: url("../images/questionmark_orange.png");
  margin-left: 5px;
}

.storage_prefix,
.item_label,
.item_about_prefix {
  font-weight: bold;
}

.AvailabilityPlusDebug,
.AvailabilityPlusTestCases {
  background-color: white;
}

.AvailabilityPlusTestCases {
  width: 98vw;
  position: relative;
  left: calc(-49vw + 49%);
  margin: 0px 20px 0px 20px;
}

.AvailabilityPlusTestCases table {
	width: 100%;
}

.AvailabilityPlusTestCases tr,
.AvailabilityPlusTestCases th,
.AvailabilityPlusTestCases td
{
	border: 1px solid black;
}

.AvailabilityPlusTestCases th,
.AvailabilityPlusTestCases td {
	padding: 5px;
}

.testcase_status_green{
  background-color: green;
  display: block;
  width: 100%;
}

.testcase_status_red{
  background-color: red;
  display: block;
  width: 100%;
}

.testcase_views{
  white-space: nowrap;
}