/* AvailabilityPlus*/
.delimiter,
.storage_prefix,
.daia_arrow {
    display: none;
}

.storage_link::after,
.item_label::after {
    content: "\A";
    white-space: pre;
}

.daia_green {
    color: #000000;
}

.ApprovalRequired {
    color: black;
    font-weight: bold;
}

.record .MultiVolumeWork,
.record .MonographSeriesRecordView

{
    display: none;
}

.PrintAccess {
    font-weight: bold;
    display: block;
}

.JournalVolumes {
    font-weight: bold;
}