@keyframes anim-rotate {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
.spinner {
    animation: anim-rotate 2s infinite linear reverse;
}

.rvk-name {
    display: block;
}

.rvk-details-show {
    margin-left: 15px;
    margin-bottom: 15px;
}

.rvk-details-hide {
    display:none;
}